.works
  padding: 40px 0
  text-align: center
  background-color: $wild-sand

  &__title
    margin-bottom: 40px
    color: $tundora
    text-align: center
    font(3em, 1.2, 900, uppercase)

  &__slider
    margin: auto
    margin-bottom: 40px
    max-width: 535px
    max-height: 535px

    img
      overflow: hidden
      max-width: 100%
      outline: none

      @media $tablet-desktop
        border-radius: 50%