$white = #ffffff
$black = #000000

$dusty-gray = #999999
$tundora = #444444
$mine-shaft = #2a2a2a

$athens-gray = #e6e8ec
$wild-sand = #f5f5f5

$supernova = #ffc600
$full-yellow = #f19e35
$pirate-gold = #a88200

$sunset-orange = #f84444
$crown-of-thorns = #7c201f

$golden-glow = #fde697
